.leftSide {
	width : 30%;
	float: left;
}
.customerList {
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 10px;
}
.customerList div{
	padding: 5px;
}
.customerList div:first-child{
	font-weight: bold;
}
.addNew button{
	padding: 9px;
    margin: 10px;
}
.section {
	border: 1px solid #ccc;
}
.clearfix{
	clear:both;
}
.rightSide {
	float: left;
	margin-left: 30px;
	width: 65%;
}
label {
	font-weight: bold;
}
.close {
	float: right;
}
.title {
	font-size: 25px;
    margin: 15px;
}